/* ml;lk */
body{
  background-color: #22223b;
  color: white;
  text-align:center;
  border: 40px solid #2a9d8f;
  border-top: 0px;
  margin: 0px;
}

p{
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
}

form{
  font-size:1.5em;
  margin: 10px;
}

#singn{
  height: 30px;
  width: 88px;
  background-color: yellow;
  margin: 5px;
}

#a{
  font-size: 30px;
  font-family: 'ROBOTECHGPRegular';
   font-weight: bold;
   font-style: normal;
}

#b{
  font-size: 1.5em;
}

h3{
  font-size: 30px;
  color: #2a9d8f;
}

input[type="text"]{
  margin: 0.1;
}

#z{
  font-size: 19px;
}
select{
  margin-left: 40px;
  margin-top: 20px;
}

label[for="count"]{
  font-size: 19px;
  font-family: 'ROBOTECHGPRegular';
   font-weight: bold;
   font-style: normal;
   border: bold;
}
