#one{
  text-align: center;
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 20px;
}

#two{
  text-align: center;
}
body{
  background-color: #22223b;
  color: white;
  text-align:center;
  border: 40px solid #2a9d8f;
  border-top: 0px;
  margin: 0px;

}

.frame{
  height: 40px;
  margin-top: 60px;
  background-color: red;
}
